extends layout

block content
  h1= title
    p Welcome to #{title}

  

  div 
    each photo in picture 
      img(src=`/uploads/${photo}` width='250px')




  

//-   `<h1>Welcome to Kenziegram!</h1>
//-    <form action="/upload" method="POST" enctype="multipart/form-data">
//-    <input type="file" name="myImage" />
//-    <input type="submit" name="submit" />
//-  </form>
 
//-  <div id="home"> `
//-     + newImage.join("") + 
//-     "</div>" from the get request, pass the file name, inside pug, create the img tag


//- app.listen(port, () => {
//- console.log(`Example app listening at http://localhost:${port}`)
//- })