html
  head
    title= complete
  body
  h3= complete
    img(src=`/uploads/${photos}`)
    a(href='http://localhost:3000'): button(type='button') home
//- form(method="POST", action="/user")
//- input(type="hidden", name="method", value="PUT")
//- p NAME
//-     input(type="text", name="name")
//- p Email
//-     input(type="email", name="email")
//- p   
//-     input(type="submit")
